<link rel="stylesheet" type="text/css" href="./css/account-tabs.css">
<link rel="stylesheet" type="text/css" href="./css/news.css">

<div id="tabs" class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="#/account/portfolio" role="tab">My Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/account/watchlist" role="tab">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#/account/news" role="tab">News</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="container">
            {{#each articles}}
            <div class="col-sm-12 blogShort">
                <h3 id="news-title">{{title}}</h3>
                <em>Author:{{author}}</em>
                <article>
                    <p>
                        {{description}}
                        <a id="read-more" class="btn btn-sm btn-info pull-right" href="{{url}}">READ MORE</a>
                    </p>
                </article>
                <footer><small>published at {{publishedAt}}</small></footer>
            </div>
            {{/each}}
            <p align="right"><em>powered by NewsAPI.org</em></p>

        </div>
    </div>
</div>