<link rel="stylesheet" type="text/css" href="./css/account-tabs.css">
<link rel="stylesheet" type="text/css" href="./css/watchlist.css">

<div id="tabs" class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="#/account/market-overview" role="tab">Market Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#/account/watchlist" role="tab">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/account/news" role="tab">News</a>
        </li>
    </ul>
    <div class="tab-content container">
        <div class="row">

            <div class="col-12 col-md-3 col-sm-6 left-column text-center">
                <div class="square-left">
                    <div class="content-square-left">
                        <p id="date">Day/month/year</p>
                        <p id="hour-minute">Hour/minute/second</p>
                    </div>
                </div>
                <div class="square-left">
                    <div class="content-square-left">
                        <p id="state">NASDAQ is open</p>
                        <p id="will">Closes in</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 middle-column">
                <div class="square-middle">
                    <div class="content-square-middle">
                        <h4 class="text-center">Stocks</h4>
                        {{#each companies}}
                        <div class="align-left">
                            <div> {{Ticker}}</div>
                        </div>
                        <div class="align-right text-right">
                            <div>${{Price}}</div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-sm-6 right-column">
                {{#each leftColumn}}
                <div class="square-right">
                    <div class="content-square-right">
                        <p class="company-name">{{Ticker}}</p>
                        <p class="index">{{Price}}</p>
                        <p><span class="change">{{Change}}</span>%</p>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-12 col-md-3 col-sm-6 right-column">
                {{#each rightColumn}}
                <div class="square-right">
                    <div class="content-square-right">
                        <p class="company-name">{{Ticker}}</p>
                        <p class="index">{{Price}}</p>
                        <p class="change"><span class="change">{{Change}}</span>%</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>